//colors
$clr-primary-orange-400: hsl(31, 77%, 52%);
$clr-primary-cyan-400: hsl(184, 100%, 22%);
$clr-primary-cyan-900: hsl(179, 100%, 13%);
$clr-neutral-400: hsla(0, 0%, 100%, 0.75);
$clr-neutral-100: hsl(0, 0%, 95%);

// font-families
$ff-lexend: "Lexend Deca", sans-serif;
$ff-big-shoulders: "Big Shoulders Display", cursive;

// font-sizes
$fs-900: 3.75rem; // 60px
$fs-800: 3rem; // 48px
$fs-700: 2rem;
$fs-600: 1.5rem; // 24px
$fs-500: 1.3125rem; // 21px
$fs-400: 1.125rem; // 18px

// font-weights
$fw-400: 400;
$fw-700: 700;

// size/spacing values (Including the border-width)
$size-8: 0.5rem;
$size-12: 0.75rem; // (not in design)
$size-16: 1rem;
$size-20: 1.25rem;
$size-32: 2rem;
$size-36: 2.25rem;
$size-40: 2.5rem;
$size-42: 3rem;

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: min(90%, 30rem);
  margin-inline: auto;
}

.orange {
  background-color: $clr-primary-orange-400;
}

.cyan {
  background-color: $clr-primary-cyan-400;
}

.dark-cyan {
  background-color: $clr-primary-cyan-900;
}

.card {
  border-radius: 8px;
  padding: 4rem;

  &__image {
    margin-bottom: $size-40;
  }

  &__headline {
    color: $clr-neutral-100;
    font-size: $fs-800;
    font-family: $ff-big-shoulders;
    text-transform: uppercase;
    margin-bottom: $size-32;
  }

  &__body {
    font-family: $ff-lexend;
    font-size: $fs-400;
    color: $clr-neutral-400;
    line-height: $size-32;
    margin-bottom: $size-32;
  }

  &__btn {
    font-size: $fs-400;
    padding: $size-16 $size-40;
    border: none;
    border-radius: 25px;

    .orange & {
      color: $clr-primary-orange-400;
      font-family: $ff-lexend;
    }

    .cyan & {
      color: $clr-primary-cyan-400;
      font-family: $ff-lexend;
    }

    .dark-cyan & {
      color: $clr-primary-cyan-900;
      font-family: $ff-lexend;
    }
  }
}

@media (min-width: 1440px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-inline: 0;
  }

  .card {
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3.5rem;

    &__body {
      margin-bottom: 6rem;
    }

    &__btn:hover,
    &__btn:focus {
      outline: 2px solid $clr-neutral-400;

      .orange & {
        background-color: $clr-primary-orange-400;
        color: $clr-neutral-400;
      }
      .cyan & {
        background-color: $clr-primary-cyan-400;
        color: $clr-neutral-400;
      }
      .dark-cyan & {
        background-color: $clr-primary-cyan-900;
        color: $clr-neutral-400;
      }
    }
  }
}
