@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-gray: hsl(212, 45%, 89%);
  --clr-grayish-blue: hsl(220, 15%, 55%);
  --clr-dark-blue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background: var(--clr-light-gray);
}
main {
  width: 100%;
}

img {
  border-radius: 10px;
  width: 288px;
  height: 288px;
  margin-bottom: 1.5em;
}

h1 {
  font-weight: 700;
  font-size: 22px;
  color: #1f314f;
}

p {
  font-weight: 400;
  font-size: 15px;
  padding: 10px 10px;
  color: #7d889e;
}
